/* 
Blitz Premium Template - CSS File
USE THIS STYLE SHEET FOR HOMEPAGE
*/
#slidecontainer{width:100%; height:286px; position:relative}
#slideshow{height:286px !important; background:none; overflow:hidden; background-color:#eeeeee;width: auto !important;}
#slideshow h1{padding:12px 0px 0px 0px;float: left;text-decoration: underline;text-transform: uppercase;width:55%;margin-bottom:0}
#slideshow ul li{font-size: 19px;line-height: 29px;}
.cycle{clear:both;height:auto !important;padding-right:20px;vertical-align:middle;width:auto !important;}
#slideshow_navigation a{background:url(../media/button.png) no-repeat scroll 50% 50% rgba(0,0,0,0);display:block;float:left;font-size:0;height:10px;outline-style:none;outline-width:medium;width:12px;margin:1px;padding:0}
#slideshow_navigation{position:absolute;right:15px;top:255px;z-index:800;cursor:pointer}
#slideshow_navigation .activeSlide{background:url(../media/button_selected.png) no-repeat scroll 0 50%}
.slide_image{float:left;margin-right:20px;margin-top:0;width:43%;height:287px}
.cycle > ul{float:left;width:51%;margin-bottom:0;padding-bottom:0;}
.zaccordian h3 span {background:url(../media/color-arrow-sprite.png) no-repeat scroll rgba(0,0,0,0);display:inline-block;height:13px;width:20px}
.zaccordian.green-header h3.arrow-right span{background-position: 0 0;}
.zaccordian.green-header h3.arrow-down span{background-position: 0 -20px;}
.zaccordian.yellow-header h3.arrow-right span{background-position: 0 -47px;}
.zaccordian.yellow-header h3.arrow-down span{background-position: 0 -70px;}
.zaccordian.purple-header h3.arrow-right span{background-position: 0 -96px;}
.zaccordian.purple-header h3.arrow-down span{background-position: 0 -118px;}
.zaccordian.blue-header h3.arrow-right span{background-position: 0 -144px;}
.zaccordian.blue-header h3.arrow-down span{background-position: 0 -166px;}

/* Editable Slider Image Position */
